<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Node JS Kendo UI Sample App</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<% if (isProduction) { %>
	<link href="/mobile/css/cache/<%=assetsCache.mobilecss||0%>/style.css" rel="stylesheet">
	<% } else { %>
	<link href="http://cdn.kendostatic.com/2012.1.322/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="http://cdn.kendostatic.com/2012.1.322/styles/kendo.default.min.css" rel="stylesheet" />
	<link href="http://cdn.kendostatic.com/2012.1.322/styles/kendo.mobile.all.min.css" rel="stylesheet">
	<% } %>
	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">
</head>

<body>
Hello Kendo UI <%=useragent.source||0%>!

<% if (isProduction) { %>
<script src="/mobile/js/cache/<%=assetsCache.mobilejs||0%>/client.js"></script>
<% } else { %>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://cdn.kendostatic.com/2012.1.322/js/kendo.all.min.js"></script>
<% } %>

</body>
</html>